<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share broker</title>
    <style>
        * {
            box-sizing: border-box;
          }
          .center{
            text-align: center;
          }

          /* Create three equal columns that floats next to each other */
          .column {
            border-style:solid;
            border-color: aliceblue;
            text-align: center;
            float: left;
            width: 33.33%;
            padding: 10px;
            height: 460px; /* Should be removed. Only for demonstration */
          }
          .border {
            border-style:solid;
            border-color: aliceblue;
          }
          .column1 {
            border-style:solid;
            border-color: aliceblue;
            text-align: center;
            float: left;
            width: 25%;
            padding: 10px;
            height: 650px; /* Should be removed. Only for demonstration */
          }

          /* Clear floats after the columns */
          .row:after {
            content: "";
            display: table;
            clear: both;
          }
          .graph {
            border-style:solid;
            border-color: gray;
            text-align: center;
          }
    </style>
</head>
<body>
  <h1 class="center" style="color:dimgray;"><u>Check out these stocks similar to your selection!</u></h1>
  <h3 style="color:dimgray">→ <u>The Sector</u> : The sector of the company (Technology, Financial services, consumer cyclical…).</h3>
  <h3 style="color:dimgray">→ <u>The Country</u> : The location of the head office.</h3>
  <h3 style="color:dimgray">→ <u>The Market Capitalisation</u> : Market capitalization refers to the total dollar market value of a company's outstanding shares of stock. It is calculated by multiplying the total number of a company's outstanding shares by the current market price of one share.</h3>
  <h3 style="color:dimgray">→ <u>The Rate</u> : The Rate is current ratio or liquidity ratio that measures a company’s ability to pay short-term obligations.</h3>
  <h3 style="color:dimgray">→ <u>The Beta</u> : Beta is a measure of a stock's volatility in relation to the overall market. A beta greater than 1.0 suggests that the stock is more volatile than the broader market, and a beta less than 1.0 indicates a stock with lower volatility.</h3>
  <h3 style="color:dimgray">→ <u>The Dividend rate</u> : Represents the ratio of a company's annual dividend compared to its share price. (%)</h3>
  <h3 style="color:dimgray">→ <u>Open Price</u> : The price at which a security first trades upon the opening of an exchange on a trading day (in $)</h3>
  <h3 style="color:dimgray">→ <u>Closing Price</u> : The price at which a security first trades upon the closing of an exchange on a trading day (in $)</h3>
  <h3 style="color:dimgray">→ <u>High</u> : Highest intraday price of a stock in the most recent (or current) trading session (in $)</h3>
  <h3 style="color:dimgray">→ <u>Low</u> : Lowest intraday price of a stock in the most recent (or current) trading session (in $)</h3>

  <div class="row">
    <div class="column" style="background-color:rgb(213, 222, 247);">
      <div class="border">
        <p><%= Recommended_Stock_1 %></p>
        <p><%= Name1 %></p>
        <p><%= Open1 %></p>
        <p><%= High1 %></p>
        <p><%= Close1 %></p>
        <p><%= Low1 %></p>
        <p><%= country1 %></p>
        <p><%= sector1 %></p>
        <p><%= dividend1 %></p>
        <p><%= mc1 %></p>
        <p><%= rate1 %></p>
        <p><%= beta1 %></p>
      </div>
      
    </div>
    <div class="column" style="background-color:rgb(203, 236, 249);">
      <div class="border">
        <p><%= Recommended_Stock_2 %></p>
        <p><%= Name2 %></p>
        <p><%= Open2 %></p>
        <p><%= High2 %></p>
        <p><%= Close2 %></p>
        <p><%= Low2 %></p>
        <p><%= country2 %></p>
        <p><%= sector2 %></p>
        <p><%= dividend2 %></p>
        <p><%= mc2 %></p>
        <p><%= rate2 %></p>
        <p><%= beta2 %></p>
      </div>
      
    </div>
    <div class="column" style="background-color:rgb(213, 239, 236);">
      <div class="border">
        <p><%= Recommended_Stock_3 %></p>
        <p><%= Name3 %></p>
        <p><%= Open3 %></p>
        <p><%= High3 %></p>
        <p><%= Close3 %></p>
        <p><%= Low3 %></p>
        <p><%= country3 %></p>
        <p><%= sector3 %></p>
        <p><%= dividend3 %></p>
        <p><%= mc3 %></p>
        <p><%= rate3 %></p>
        <p><%= beta3 %></p>
      </div>
      
      
    </div>
  </div>
  <div class="row">
    <div class="column1" style="background-color:rgb(238, 218, 242);">
      <h2 class="center" style="color:dimgray" >Top 3 stocks offering the highest dividend rate</h2>
      <div class="border">
        <p><%= res1_1 %></p>
        <p><%= res1_2 %></p>
        <p><%= res1_3 %></p>
        <p><%= res1_4 %></p>

      </div>
      
      <br>
      <div class="border">
        <p><%= res2_1 %></p>
        <p><%= res2_2 %></p>
        <p><%= res2_3 %></p>
        <p><%= res2_4 %></p>
      </div>
      <br>
      <div class="border">
        <p><%= res3_1 %></p>
        <p><%= res3_2 %></p>
        <p><%= res3_3 %></p>
        <p><%= res3_4 %></p>
      </div>

    </div>
    <div class="column1" style="background-color:rgb(243, 229, 213);">
      <h2 class="center" style="color:dimgray">Top 3 Volatile stocks offering good dividend rate</h2>
      <div class="border">
        <p><%= res11_1 %></p>
        <p><%= res11_2 %></p>
        <p><%= res11_3 %></p>
        <p><%= res11_4 %></p>
      </div>
      <br>
      <div class="border">
        <p><%= res22_1 %></p>
        <p><%= res22_2 %></p>
        <p><%= res22_3 %></p>
        <p><%= res22_4 %></p>
      </div>
      <br>
      <div class="border">
        <p><%= res33_1 %></p>
        <p><%= res33_2 %></p>
        <p><%= res33_3 %></p>
        <p><%= res33_4 %></p>
      </div>
      
      
    </div>
    <div class="column1" style="background-color:rgb(242, 212, 212);">
      <h2 class="center" style="color:dimgray">Top 3 Stable stocks offering good dividend rate</h2>
      <div class="border">
        <p><%= res111_1 %></p>
        <p><%= res111_2 %></p>
        <p><%= res111_3 %></p>
        <p><%= res111_4 %></p>
      </div>
      <br>
      <div class="border">
        <p><%= res222_1 %></p>
        <p><%= res222_2 %></p>
        <p><%= res222_3 %></p>
        <p><%= res222_4 %></p>
      </div>
      <br>
      <div class="border">
        <p><%= res333_1 %></p>
        <p><%= res333_2 %></p>
        <p><%= res333_3 %></p>
        <p><%= res333_4 %></p>
      </div>
      
    </div>
    <div class="column1" style="background-color:rgb(248, 253, 212);">
      <h2 class="center" style="color:dimgray">Top 3 stocks with Market value greater than 10 billion $</h2>
      <div class="border">
        <p><%= res1111_1 %></p>
        <p><%= res1111_2 %></p>
        <p><%= res1111_3 %></p>
        <p><%= res1111_4 %></p>
      </div>
      <br>
      <div class="border">
        <p><%= res2222_1 %></p>
        <p><%= res2222_2 %></p>
        <p><%= res2222_3 %></p>
        <p><%= res2222_4 %></p>
      </div>
      <br>
      <div class="border">
        <p><%= res3333_1 %></p>
        <p><%= res3333_2 %></p>
        <p><%= res3333_3 %></p>
        <p><%= res3333_4 %></p>
      </div>
      
    </div>
  </div>
  <div class="row">
    <div class="graph">
      <h2 style="color:dimgray">Click here to view Graphical Representation of Data</h2>
      <img src="https://raw.githubusercontent.com/ishita1809/image/main/l.png" width="500" height="60">
      <button style="width: 90%; height: 20; background-color: dimgray; color: white; border-radius: 12px;" onclick="welcome()">View Graph</button>           
    </div>
  </div>
</body>
<script>   
  function welcome() {   
  window.open("https://raw.githubusercontent.com/ishita1809/image/main/graph.png");  
  }   
</script>
</html>
